<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>A ticket has been paid for the following vehicle:</p>
    <p>
    Vehicle<br>
    --------------------------
    </p>
    <p>Make: <%= @ticket.vehicle.make %></p>
    <p>Model: <%= @ticket.vehicle.model %></p>
    <p>Year: <%= @ticket.vehicle.year %></p>
    <p>
    --------------------------
    </p>
  </body>
</html>